<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BTC-Neco</a>
  <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to( destroy_user_session_path, method: :delete, class: "nav-link" ) do %>
        <%= image_tag "accountCircle.png" %> Sign out
      <% end %>
    </li>
  </ul>
</nav>
